# web 

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=

NEXT_PUBLIC_CLERK_SECRET_KEY=

NEXT_PUBLIC_API_URL=http://localhost:5000

NEXT_PUBLIC_SOCKET_URL=http://localhost:5000

NEXT_PUBLIC_APP_URL=http://localhost:3000


# server

NODE_ENV=development

PORT=5000

CLIENT_URL=http://localhost:3000

MONGODB_URI=

REDIS_URL=

CLERK_SECRET_KEY=

CLERK_WEBHOOK_SECRET=

JWT_SECRET=

BULLMQ_PREFIX=e-edito

CODE_EXECUTION_URL=
